<!--The content below is only a placeholder and can be replaced.-->
  <h1 class=text-center>
    Fuck yeah, this is {{title}}
  </h1>

  <table class="table table-bordered">
    <tr class="active">
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>priority</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <tr *ngFor='let todo of todos; let i = index'>
      <td>{{ i + 1 }}</td>
      <td (click)='selectedTasks[todo.id] = true'>
        {{ todo.title }}
        <input type="text" [(ngModel)]='todo.title' [hidden]='!selectedTasks[todo.id]'/>
      </td>
      <td (click)='selectedTasks[todo.id] = true'>
        <a *ngIf='!selectedTasks[todo.id]' (click)='false'>{{ todo.description }}</a>
        <div *ngIf='selectedTasks[todo.id]'>
          <input type="text" [(ngModel)]='todo.description'/>
          <button (click)='updateTodo(todo); $event.stopPropagation();'>Save</button>
          <button (click)='selectedTasks[todo.id]=false; $event.stopPropagation();'>Cancel</button>
        </div>
      </td>
      <td>{{ todo.priority }}</td>
      <td>{{ todo.createdAt }}</td>
      <td>{{ todo.updatedAt }}</td>
      <td><button (click)="deleteTodo(todo.id);" class="btn btn-danger">del</button></td>
    </tr>
  </table>

  <div class="container">
    <form (submit)='createTodo();'>
      <div class="form-group">
        <input type="text" [(ngModel)]='todo.title' placeholder="title" name='title'>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]='todo.description' placeholder="description" name='description'>
      </div>
      <div class="form-group">
        <input type="number" [(ngModel)]='todo.priority' placeholder="priority" name='priority'>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
