
table {
  background-color: #fff;
  color: #707070;
}
td > a {
  color: #707070;
}
th, th > a {
  color: #262626;
}
.container-form{
  margin-top: 30px;
}
.container-form, .btn-warning {
  float: right;
}
label {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.form-group > .btn {
  margin-top: 7px;

}
.container-form > form > input {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
}
h1 {
  margin-left: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: underline;
}
